<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body>
    <p style = "color: red; font-size: 20px;">Oops! An error occured..</p>

    <!--like that cannot find source image-->
    <!-- <img src="404.png" alt="Error Placeholder Pic" style="width:auto; height:auto;">  -->

    <!--src="/images/404.png"-->
    <img src="/images/404.png" alt="Error Placeholder Pic" style="width:100%; height:auto;">
</body>
</html>