<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Generating Form</title>
</head>
<body>
    <div style = "color: black; border: 1px solid black; padding: 10px; ">
        <h3>How many numbers do you wish to generate?</h3>

        <form method="POST" th>
            <div class="mb-3">
              <label for="exampleInputNumber" class="form-label">Numbers: </label>
              <input type="number" class="form-control" id="exampleInputNumber" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your input with anyone else.</div>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>

    </div>
</body>
</html>